.parent{
	height: 90px;
	background-col
}
.kiddo{
	height: 1000px;
	background-co
}
.kid{
	height: 700px;
	background-color: 
}
.kiddy{
	height: 700px;
	background-color
}
.child{
	height: 500px;

}
.Child{
	height: 100px;
	background-color
}
.goollwaw{
	height: 50px;
	background-color: 
}S
.wer{
	height: 50px;
	background-color: 
}
.worms{
	height: 50px;
	background-color: 
}
.bds{
	hyphens: 50px;
	background-color: 
}
.bu{
	height: 50px;
	background-color:
}
.well{
	height: 50px;
	background-color
}
.easy{
	height: 50px;
	background-color
}